/* COMMON  */
.section-title {
    text-align: center;
}
/* END COMMON  */

/* HEADER  */

/* top-nav  */
.top-nav {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
}

.top-nav .row ul li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
}

.burger {
    text-align: right;
    line-height: 40px;
}
/* end top nav  */

/* jumbotron  */

.jumbotron {
    background-color: #25bc9c;
    text-align: center;
    color: white;
}

.jumbotron img {
    width: 200px;
}

.star {
    font-size: 40px;
}

@media screen and (max-width: 991px) {
    .jumbotron .jumbotron-content h1 {
        font-size: 40px;
    }
}
/* end jumbotron  */
/* END HEADER  */

/* MAIN  */

/* portfolio  */
.black-star {
    font-size: 40px;
    color: black;
}

.margin-bottom-col {
    margin-bottom: 20px;
}

.content-col {
    height: 450px;
    border-radius: 10px;
}

.item-1 {
    background-image: url(../img/cabin.png);
    background-size: cover;
    background-position: center;
}

.item-2 {
    background-image: url(../img/cake.png);
    background-size: cover;
    background-position: center;
}

.item-3 {
    background-image: url(../img/circus.png);
    background-size: cover;
    background-position: center;
}

.item-4 {
    background-image: url(../img/game.png);
    background-size: cover;
    background-position: center;
}

.item-5 {
    background-image: url(../img/safe.png);
    background-size: cover;
    background-position: center;
}

.item-6 {
    background-image: url(../img/submarine.png);
    background-size: cover;
    background-position: center;
}
/* end portfolio  */

/* info  */
.info-background {
    background-color: #25bc9c;
    margin-top: 20px;
    height: 400px;
}

.info-section-title {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.info-background p {
    color: white;
    padding-top: 10px;
}

.button {
    text-align: center;
    border: 1px solid white;
    margin-top: 50px;
}
/* end info  */

/* contacts  */
.contacts {
    margin-top: 30px;
}

.send-button {
    border: 1px solid black;
    background-color: #25bc9c;
    display: inline-block;
    padding: 5px;
}
/* end contacts  */
/* END MAIN  */

/* FOOTER  */
footer {
    background-color: #3a546d;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.footer-content-col {
    padding-top: 20px;
}

footer li {
    display: inline-block;
    padding-right: 10px;
}

.bottom-footer {
    background-color: #2c3e50;
    width: 100%;
    height: 80px;
    padding-top: 40px;
}
/* END FOOTER  */